@import url('https://fonts.googleapis.com/css2?family=Petrona:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif+Caption&family=Petrona&display=swap');
*{
    margin: 0;
    padding: auto;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 70px;
    padding: 20px 100px;
    background-color: #0A2651;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img{
    width: 8em;
}


nav{
    display: block;
}

nav a{
    cursor: pointer;
    text-decoration: none;
    color: #F0F3FA;
    margin-left: 30px;
    margin-bottom: 1px;
    border-bottom: 2px solid;
    padding: 1px;
    font-size: 20px;
    font-family:Petrona;
    font-weight: 400;
}

section{
    width: 100%;
    height: 85vh ;
    background-color: #D5DEEF;
    
}

#cor-section{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #001A40;
}

h1{
    font-size: 7em;
    font-family: Petrona;
    font-weight: 600;
    color: #F0F3FA;
    
}

#cor-section p{
    width: 48em;
    padding: 30px;
    font-size: 1.5em;
    font-family: Petrona;
    font-weight: 400;   
    text-align: center;
    color: #F0F3FA;
}

section h2{
    
    font-size: 55px;
    font-family:PT Legenda Serifada;
    font-weight:400 ;
    color: #001a40;
}

.vetor{
    background: url(vetor/Vector.png) no-repeat;
    background-size: 15rem;
    background-position:right;
}


.frame p{
    font-size: 25px;
    font-family:PT Legenda Serifada;
    font-weight:400 ;
    margin-top: 30px;
    color: #001A40;
    padding-right: 29em;
    text-align: start;
}

.frame{
    padding-top: 50px;
    margin-left: 128px ;
}

.pin{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #001A40;
}

.pin p{
    flex-direction: column;
}

#cor-section h2{
    color: #D5DEEF;
    font-family:PT Legenda Serifada;
    font-weight:400 ;
    text-align: start;
    display: flex;
    align-items: start;
    justify-content: start;
    margin-bottom: 10rem;
}

.integrante{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-integrate {
    padding-top: 60px;
    height: 88vh;
}

.container-integrate h2{
    margin-bottom: 70px;
    margin-left: 109px;
}

.container-integrate p, .container-integrate em{
    font-size: 16px;
    font-family: PT Legenda Serifada;
    font-weight: 400;
}

h6{
    font-size: 20px;
    font-family: PT Legenda Serifada;
    font-weight: 400;
}

footer{
    width: 100%;
    height: 5%;
    background-color: #001A40;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container{
    display: flex;
    gap: 10rem;
    padding: 40px;
}

.footer-content{
    margin-left: 2rem;
    color: #F0F3FA;
    font-family:PT Legenda Serifada;
    font-weight:400 ;
    list-style-type: none;
    text-align: start;
    
}

.footer-content h4{
    text-align: center;
}

.footer-content h4, .footer-content h5{
    font-size: 20px; 
}

.footer-content li{
    font-size: 15px;
    margin-top: 10px;

}
footer a, footer p {
    left: auto;
    text-align: center;
    text-decoration: none;
    color: #D5DEEF;
    font-size: 1rem;
    font-family:PT Legenda Serifada;
    font-weight:400 ;
    font-style: normal;
}

footer a:hover{
    color: #aaddee;

}

.footer-content-button{
    display: flex;
    align-items: center;
    justify-content: center;
}

button { 
    
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border-bottom: 3.5px solid black;
    border-right: 4px solid black;
    
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}
